<div class="container-fluid">
	<div class="row">
		<div class="col g-0">
			<div class="bg-image"></div>

			<div class="contenedorPrincipal">
				<a href="/home"><img src="/images/logo.png" alt="logo" style="width: 300px;" /></a>
				<h2 class="tituloPrincipal mt-2">JORDAN'S CLOSET</h2>
				{{#if firstName}}
					<div class="d-flex justify-content-center align-items-center user">
						<h5 class="text-white mt-1">
							WELCOME,
							{{firstName}}. Your Rol is:
							{{role}}
						</h5>
						
						<a href="/api/sessions/logout" class="btn btn-danger btn-sm btnLogin ms-3 me-4">
							<i class=""></i>Logout
						</a>
					</div>
					<div class="wrapper">
						<ul class="mt-3 ms-3 menuContainer">
							<li class="mt-3 ms-3 menuItem"><a href="api/products" class="btn btn-outline-light"><i
										class=""
									></i>PRODUCT</a></li>

							<li class="mt-3 ms-3 menuItem"><a href="/api/users" class="btn btn-outline-light"><i
										class=""
									></i>USER</a></li>
									
							
						
							<li class="mt-3 ms-3 menuItem"><a href="/api/users/adminConsole" class="btn btn-outline-light"><i
										class=""
									></i>ADMIN CONSOLE</a></li>
						</ul>
					</div>
				{{/if}}
			</div>
		</div>
	</div>
</div>