<h1>Perfil</h1>

email:
{{user.email}}
<br />
isAdmin:
{{user.isAdmin}}
<br />
<button onclick="location.href='/auth/administracion'">ADMIN CONSOLE</button>


<br />
<button onclick="location.href='/auth/logout'">LOGOUT</button>
