<h1>REGISTER</h1>
{{!-- <form action='/auth/register' method='POST'> --}}
<form action='/api/sessions/register' method='POST'>
  <input type='text' name='firstName' placeholder='firstName' /><br>
  <input type='text' name='lastName' placeholder='lastName' /><br>
  <input type='text' name='age' placeholder='age' /><br>
  <input type='text' name='email' placeholder='email' /><br>
  <input type='text' name='password' placeholder='password' /><br>
  <br>
  <input type='submit' value='Register' />
 
</form>

<button onclick="location.href='/api/sessions/login'">LOGIN</button>
