<div class="container-fluid">
	<div class="row">
		<div class="col g-0">
			<div class="bg-image"></div>

			<div class="contenedorPrincipal">
				<a href="/"><img src="/images/logo.png" alt="logo" style="width: 300px; " /></a>
				<h2 class="tituloPrincipal mt-2">JORDAN'S CLOSET</h2>
				<div class="d-flex justify-content-center align-items-center user">
					<a href="/api/sessions/login" class="btn btn-light btnLogin">
						<i class=""></i>LOGIN
					</a>
					<a href="/api/sessions/register" class="btn btn-light ms-2 me-3 btnRegister">
						<i class=""></i>REGISTER
					</a>
				</div>
			</div>
		</div>
	</div>
</div>