<div class="container">
  <h2 color= "red" >Bienvenidos a Sport Market</h2>
  <button onclick="location.href='/api/sessions/login'">LOGIN</button>
  <button onclick="location.href='/api/sessions/register'">REGISTER</button>

</div>